@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

@font-face 
{
    font-family: 'Exodar-Outline';
    src: url('Fonts/Exodar-Outline.ttf');
    src: url('Fonts/ExodarOutline.eot');
    src: url('Fonts/ExodarOutline.eot?#iefix') format('embedded-opentype'),
        url('Fonts/ExodarOutline.woff2') format('woff2'),
        url('Fonts/ExodarOutline.woff') format('woff'),
        url('Fonts/ExodarOutline.svg#ExodarOutline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Nasalization';
    src: url('Fonts/NasalizationRg-Regular.eot');
    src: url('Fonts/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/NasalizationRg-Regular.woff2') format('woff2'),
        url('Fonts/NasalizationRg-Regular.woff') format('woff'),
        url('Fonts/NasalizationRg-Regular.ttf') format('truetype'),
        url('Fonts/NasalizationRg-Regular.svg#NasalizationRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






body
{
	font-size: 100%;
	background-color:  black;	
	background: url(Images/stars.png) repeat center center fixed;
	/*background-size: cover;*/
	color: #fff;
	font-family: Ubuntu, Nasalization, sans-serif, monospace;
	overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}

#content
{
    /*background: rgba(255,255,255,.2);*/
    /*padding: 1em 2em;*/
     margin: 0 15%;
     background-color:  black;  
}


label:not(.radio)
{
    display: block;
}

.question
{
    margin: 4em 0;
    background-color:  #FEDFCD;
    border:  22px solid;
    border-image:  url("Images/neb3.jpg") 55 55 55 55 stretch;
    box-shadow: 0px 0px 1em #E36111, inset 0px 0px .75em #E36111;
}

label
{
    color: #C5632A;
    padding: 1em 0;
    font-family: nasalization;
    padding-left: 1em;
    font-size: 1.5em;
}

input
{
    border: none;
    border-bottom: 2px solid #E36111;
    margin-bottom: 1em;
    margin-left: 2em;
    /*outline: 5px solid blue;*/
    background:  #FEDFCD;
}

input[name=name],
input[name=email],
input[name=phoneNumber]
{
    width: 80%;
    height: 40px;
    font-size: 1.25em;
}

input[name=inquiry]
{
    width: 90%;
    height: 150px;
    border: 2px solid #7B3464;
    box-shadow: inset 0 0 12px purple, 0px 0px 4px purple;
}

.required::after
{
    content: " *";
    color: red;
}


/*.logoContainer
{
    position: absolute;
    top: -30px;
    left: -30px;
}*/

.sub
{
    font-size: 1em;
}

/*header
{
    background-image: url("Images/blackHole.png");
    box-shadow: 0px 4px 16px orange;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
    position: relative;
    width: 100%;
    top: 0;
}

#header h1
{
    padding-left: 5em;
}*/

img
{
    max-width: 100%;
    max-height: 60vh;
}

header img
{
    box-shadow: 0px 2px 26px orange;
}

header
{
    text-align: center;
}




.menuItem 
{
  display: block;
  margin: 4rem 0;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  font-family: nasalization;
  position: relative;
  text-align: center;
  
}

.menuItem:not(.menu li:first-child)
{
    margin-left: 0px;
}

.menuItem i
{
    color: orange;
    margin-right: 2rem;
}

.menu li:first-child
{
    position: relative;
    top: 0;
    font-weight: bold;
    text-align: center;
}

.menu li:first-child::first-letter
{
    color: Orange;
}


.hamburger 
{
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon 
{
  display: none;
}

.menu 
{
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: -1rem;
  left: 0;
  z-index: 99;
  background: url("Images/neb.png");
  background-size: cover;
  color: white;
  list-style: none;
  width: 100%;
  height: 110%;
  padding-left: 0px;
}

.showMenu 
{
  transform: translateX(0);
}

input:focus
{
    outline: 2px solid orange;
}