@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body
{
   background-color:  yellow; 
   background: url(background3.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     overflow-x: hidden;

}

.nova-logo
{
    margin: auto;
    transform: scale(.8);
}

.logoContainer
{
    display: flex;
    justify-content: center;
    width: 96.4%;
    height: 90vh;
    min-height: 450px;
    margin-bottom: 75px;
    position: absolute;
    padding-left: 1vw;
    /*background:  red;*/
}

[type="button"]
{
    background:   #e68a00;
    border:  3px solid #9900cc;
    width: 30vw;
    padding:  15px 10px;
    margin: auto;
    font-weight: bold;
    font-family: Ubuntu;
    position: static;
    margin:  0px 15vw;
    box-shadow: inset 4px -4px 22px  #ffcc80, inset -4px 4px 12px #e6e600, 3px 3px 12px #600080, 0px 0px 35px 6px white;
    border-radius: 5px;
}

[type="button"] a
{
    font-size:  28px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1.5px black;
}

.buttonContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 80vh;
    /*background:  blue;*/
}