@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body
{
   background-color:  yellow; 
   background: url(background3.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;


}

.nova-logo
{
}

.logoContainer
{
    padding-top:  100px;
    text-align: center;
    margin-bottom: 75px;
/*    outline:  5px solid yellow;*/

}

[type="button"]
{
    background:   #e68a00;
    border:  3px solid #9900cc;
    width: 30vw;
    padding:  25px 30px;
    font-weight: bold;
    font-family: Ubuntu;
    position: static;
    margin:  0px 10vw;
    box-shadow: inset 4px -4px 22px  #ffcc80, inset -4px 4px 12px #e6e600, 3px 3px 12px #600080, 0px 0px 35px 6px white;
    border-radius: 5px;

}

[type="button"] a
{
    font-size:  30px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1.5px black;

}

[type="button"]:hover
{
    cursor: pointer;
}

.buttonContainer
{
    outline: 5px solid yellow;
    display: flex;
    justify-content: space-between;
}



