@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

@font-face 
{
    font-family: 'Exodar-Outline';
    src: url('Fonts/Exodar-Outline.ttf');
    src: url('Fonts/ExodarOutline.eot');
    src: url('Fonts/ExodarOutline.eot?#iefix') format('embedded-opentype'),
        url('Fonts/ExodarOutline.woff2') format('woff2'),
        url('Fonts/ExodarOutline.woff') format('woff'),
        url('Fonts/ExodarOutline.svg#ExodarOutline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Nasalization';
    src: url('Fonts/NasalizationRg-Regular.eot');
    src: url('Fonts/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/NasalizationRg-Regular.woff2') format('woff2'),
        url('Fonts/NasalizationRg-Regular.woff') format('woff'),
        url('Fonts/NasalizationRg-Regular.ttf') format('truetype'),
        url('Fonts/NasalizationRg-Regular.svg#NasalizationRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






body
{
	margin: 0 15%;
	font-size: 100%;
	background-color:  black;	
	background: url(Images/stars.png) no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	font-family: Ubuntu, Nasalization, sans-serif, monospace;
	overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.logoContainer
{
	text-align: center;
}

video
{
    max-width: 100%;
}




.buttons a
{
    width: auto;
    height: auto;
    background-image: url("Images/neb.png");
    background-size: cover;
    padding: 25px;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
    margin: 0;
    border: 2px solid #B2B2B2;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow:  1px 1.5px black;
    font: 2em Exodar-Outline;
    font-weight: bold;
    text-shadow: .07em .07em black;
    animation:  shadowChangeButton 5s infinite linear;
    transition: .3s;
    transition-timing-function:  ease-in-out;
}

.buttons a:first-child
{
    pointer-events: none;
}

@keyframes shadowChangeButton 
{
    0%{box-shadow: inset -10px -10px 40px #4d001f,0px 0px 12px #B2B2B2; /*red*/}

    25%{box-shadow: inset -10px -10px 40px #b32d00,0px 0px 12px #B2B2B2; /*orange*/}

    50%{box-shadow: inset -10px -10px 40px #202060,0px 0px 12px #B2B2B2; /*blue*/}

    75%{box-shadow: inset -10px -10px 40px #660066,0px 0px 12px #B2B2B2; /*purple*/}

    100%{box-shadow: inset -10px -10px 40px #4d001f,0px 0px 12px #B2B2B2; /*red*/}
}

.buttons a:hover
{
	transform: scale(1.02);
}

.buttons
{
	position: static;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.missionStatement
{
	margin-bottom: 50px;
	line-height: 1.5;
    border:  12px solid;
    border-image:  url("Images/neb.png") 55 55 55 55 stretch;
    box-shadow: 2px 2px 6px #30062b;
    padding-top: 1em; 
    background: #ffffff21;

}

.missionStatement .intro
{
	text-indent: -2em;
}

.missionStatement strong
{
	text-shadow: 1px 1.5px black;
	font-size: 2em;
	padding-right: 5px;
}

.missionStatement::first-letter
{
    color: Orange;
    font-size: 2em;
    font-family: nasalization;
    line-height: .5em;
}

.twinkling
{
    width:2000px;
    height: 100%;
    background: transparent url("Images/twinkling.png") repeat;
    position: absolute;
    animation:move-background 30s linear infinite;
    z-index: -1;
    background-size: 2000px 2000px;
    /*outline: 5px solid yellow;*/
    
}

@-webkit-keyframes move-background 
{
    from { -webkit-transform: translate3d(-2200px, 0px, 0px); }
    to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

.socialMediaLinks
{
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: right;
    opacity: .7;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.socialMediaLinks a
{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1.5px black;
    transition: .2s;
    transition-timing-function:  ease-in-out; 
}

.socialMediaLinks a:hover
{
    opacity: .8;
    transform: scale(1.15);
    color: yellow;
    transition: .2s;
    transition-timing-function:  ease-in-out; 
}






#hamburger i
{
   padding: .5em 0 0 .5em;
   color: #fff; 
   opacity: .85;
}

#hamburger i::after
{
    content: "Nova-151";
    padding-left: 2500px;
    visibility: hidden;
    font-family: nasalization;
    color: transparent;
    transition:  color 2s;
}

.navbar:hover #hamburger i::after
{
    padding-left: 1em;
    visibility: visible;
    color: #fff;
}


/*stars span*/
    .shootingStars{
        position: fixed; /*optionally change to absolute but it wont scroll with the page*/
        top: 0;
        left: 175px;
        width: 100%;
        height: 100vh;
        opacity: .4;
        z-index: -1;

    }

    .shootingStars span{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
        animation:  animate 3s linear infinite;
    }
    .shootingStars span::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 1px;
        background: linear-gradient(90deg, #fff, transparent);
    }

    @keyframes animate 
    {
        0%
        {
            transform: rotate(300deg) translateX(0);
            opacity: 1;
        }
        70% 
        { 
            opacity: 1; 
        }
        100%
        {
            transform: rotate(300deg) translateX(-1500px);
            opacity: 0;
        }
        
    }


    .shootingStars span:nth-child(1){
        top: 0;
        right: 0;
        left:initial;
        animation-delay:0 ;
        animation-duration: 1s;
    }

    .shootingStars span:nth-child(2){
        top: 0;
        right: 80px;
        left:initial;
        animation-delay:0.2s;
        animation-duration: 3s;
    }

   .shootingStars  span:nth-child(3){
        top: 80px;
        right: 0px;
        left:initial;
        animation-delay:0.4s ;
        animation-duration: 2s;
    }

    .shootingStars span:nth-child(4){
        top: 0;
        right: 180px;
        left:initial;
        animation-delay:0.6s;
        animation-duration: 1.5s;
    }

    .shootingStars span:nth-child(5){
        top: 0;
        right: 400px;
        left:initial;
        animation-delay:0.8s;
        animation-duration: 2.5s;
    }

    .shootingStars span:nth-child(6){
        top: 0;
        right: 600px;
        left:initial;
        animation-delay:1s ;
        animation-duration: 3s;
    }
    .shootingStars span:nth-child(7 ){
        top: 300px;
        right: 0px;
        left:initial;
        animation-delay:1s ;
        animation-duration: 1.75s;
    }

    .shootingStars span:nth-child(8){
        top: 0px;
        right: 700px;
        left:initial;
        animation-delay:1.4s ;
        animation-duration: 1.25s;
    }

    .shootingStars span:nth-child(9){
        top: 0px;
        right: 1000px;
        left:initial;
        animation-delay:0.75s ;
        animation-duration: 2.25s;
    }

    .shootingStars span:nth-child(10){
        top: 0px;
        right: 1000px;
        left:initial;
        animation-delay:2.75s ;
        animation-duration: 2.25s;
    }

/*end stars span*/

.menuItem 
{
  display: block;
  margin: 4rem 0;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  font-family: nasalization;
  position: relative;

  
}

.menuItem:not(.menu li:first-child)
{
    margin-left: 0px;
    padding-left: 40%;
}

.menuItem i
{
    color: orange;
    margin-right: 2rem;
}

.menu li:first-child
{
    position: relative;
    top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
}

.menu li:first-child::first-letter
{
    color: Orange;
}


.hamburger 
{
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon 
{
  display: none;
}

.menu 
{
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: -1rem;
  left: 0;
  z-index: 99;
  background: url("Images/neb.png");
  background-size: cover;
  color: white;
  list-style: none;
  width: 100%;
  height: 110%;
  padding-left: 0px;
}

.showMenu 
{
  transform: translateX(0);
}

